{% extends 'base.html.twig' %}

{% block body %}



    <div>

    </div>
    <h1>Mon profil</h1>
    {{ form_start(form) }}
    {% do form.administrateur.setRendered() %}
    {% do form.agreeTerms.setRendered() %}
    {% do form.actif.setRendered() %}
    {% do form.leCampus.setRendered() %}
        {{ form_widget(form) }}
    <div class="inline"> <!-- mettre le bouton modifier en type form-->
      <!-- <button type="submit">Modifier</button> -->


    </div>
    {# TODO afficher qui si administrateur "les boutons suppr et desac" #}

    {{ form_end(form) }}

    <!--img src="{{ asset('/Images/Profils/utilisateur1.png') }}" alt=""> -->


{% endblock %}

{% block title %}

{% endblock %}
