{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2>Renseigner les informations du participant à ajouter :</h2>

    {{ form_start(registrationForm) }}
    {% do registrationForm.pseudo.setRendered() %}
    {# TODO do set rendered "les boutons qu'on a pas besoin" #}

        {{ form_widget(registrationForm) }}

        <button type="submit" class="btn">Ajouter</button>
    {{ form_end(registrationForm) }}
{% endblock %}
