{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h2>Votre sortie "{{ sortieAffichee.nom }}" </h2>
    <div>Infos :</div>
    <div>
        {{ sortieAffichee.infosSortie }}
    </div>
    <button><a href="{{ path('sortie_modifier',{'id' : sortieAffichee.id}) }}">Modifier</a></button>
{% endblock %}

