<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('CSS/GlobalStyle.css') }}">

    </head>
    <body>
        <div class="container">
            <header>
                <div class="inline">
                    <h1>SORTIR.COM</h1>
                    <div >
                        {% include 'inc/nav.html.twig' %}
                    </div>
                </div>
            </header>

            {# read and display all flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <main>
                {% block body %}{% endblock %}
            </main>

            <footer>
            </footer>
        </div>
    </body>
</html>
